<!DOCTYPE HTML>
{% load staticfiles %}
<html>

<head>
	<title>REST IN - LOGIN</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Tool Sign In Form a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
	<script>
		addEventListener("load", function () {
			setTimeout(scrollTop, 0);
		}, false);

		function scrollTop() {
			window.scrollTo(0, 1);
		}
	</script>

	<link href="{% static 'room_management/login/css/style.css' %}" rel='stylesheet' type='text/css' />

	<link href="//fonts.googleapis.com/css?family=Poiret+One&amp;subset=cyrillic,latin-ext" rel="stylesheet">

</head>

<body>
    <div class="page-overlay"></div>
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-warning" style="text-align: center; position: absolute; width: 100%; top: 69px">
                    {{ message }}
                </div>
            {% else %}
                <div class="alert alert-success" style="text-align: center; position: absolute; width: 100%; top: 69px">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
	<h1>Room Management Login </h1>
	<div class="w3ls-login box box--big">

		<form method="post">
            {% csrf_token %}
			<div class="agile-field-txt">
				<label> Username</label>
				<input type="text" name="username" placeholder="Enter User Name"
                       oninvalid="this.setCustomValidity('Username is required')"
                               oninput="this.setCustomValidity('')" required="" />
			</div>
			<div class="agile-field-txt">
				<label> password</label>
				<input type="password" name="password" placeholder="Enter Password" required="" id="password" />
				<div class="agile_label">
					<input id="check3" name="check3" type="checkbox" value="show password" onclick="show_password()">
					<label class="check" for="check3">Show password</label>
				</div>
				<div class="agile-right">
					<a href="#">forgot password?</a>
				</div>
			</div>

			<div class="w3ls-bot">
				<div class="switch-agileits">
					<label class="switch">
						<input type="checkbox">
						<span class="slider round"></span>
						keep me signed in
					</label>
				</div>
			</div>
				<input type="submit" value="LOG IN">
		</form>
	</div>

</body>
</html>